/*agregando fuente*/
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=League+Gothic&family=Montserrat:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}
#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("imagenes/fondo1.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
  text-align: center;
  color: red;
}

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}
#inicio .contenido header .contenido-header nav ul li a:hover{
    color: red;
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color: #ff5080;
}



#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{
    font-size: 25px;
    color: #ff5080;
}

#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    border: 2px solid #fff;
    padding: 20px 25px;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;

}

#inicio .contenido .presentacion a:hover{
    background-color: #ff5080;
}



/*LADO DERECHO*/


/*seccion sobre mi*/
#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .sobremi{
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #ff5080;
    text-decoration-thickness: 5px;

}

#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span{
    color: #ff5080;
}

#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;

}

#sobremi .sobremi a{
    display: inline-block;
    text-decoration:none ;
    color: #000;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover{
    background-color: #ff5080;
    color: #fff;
}

#tecnologias{
    padding: 100px 15px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("imagenes/fondo2.jpg");
   background-size: cover;
   background-position: center center;
   height: 80vh;
}


#tecnologias .tecnologias-titulo{
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #ff5080;
    text-decoration-thickness: 5px;


}

#tecnologias .tecnologia{
    
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 1fr;
    grid-template-rows: 150px  ;
 
    
}


#tecnologias .tecnologia span i{
    font-size: 80px;
    padding: 25px;
   
}

/*ESTILOS ICONOS*/

/*html icono*/

#tecnologias .tecnologia .iconohtml{
    color: #fff;
    border-radius: 30px;
    transition: .5s;

}

#tecnologias .tecnologia .iconohtml:hover{
   color: orangered;
   
}


/*css icono*/

#tecnologias .tecnologia .iconocss{
    color: #fff;
    border-radius: 20px;
    transition: .5s;
}

#tecnologias .tecnologia .iconocss:hover{
   color: blue;
  
}


/*javascript icono*/
#tecnologias .tecnologia .iconojs{
    color: #fff;
    border-radius: 20px;
    transition: .5s;
}

#tecnologias .tecnologia .iconojs:hover{
   color: yellow;
  
}

/*node icono*/

#tecnologias .tecnologia .icononode{
    color: #fff;
    border-radius: 20px;
    transition: .5s;
}

#tecnologias .tecnologia .icononode:hover{
   color: forestgreen;
  
}

/*react icono*/

#tecnologias .tecnologia .iconoreact{
    color: #fff;
    border-radius: 20px;
    transition: .5s;
}

#tecnologias .tecnologia .iconoreact:hover{
   color: cornflowerblue;
   
}


/*bootstrap icono*/

#tecnologias .tecnologia .iconoboot{
    color:  #fff;
    border-radius: 20px;
    transition: .5s;
}

#tecnologias .tecnologia .iconoboot:hover{
   color: blueviolet;
}

/*sass icono*/

#tecnologias .tecnologia .iconosass{
    color: #fff;
    border-radius: 20px;
    transition: .5s;
}

#tecnologias .tecnologia .iconosass:hover{
   color: #ff5080;
   
}


/*portafolio*/

#portafolio{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portafolio .portafolio-titulo{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ff5080;
    text-decoration-thickness: 5px;
    margin-bottom: 40px;

}

#portafolio .fila {
    display: grid;
    grid-template-columns: 60fr 60fr;

}

.portafolio .fila .grid-item{
    width: 50px;
    height: 50px;
    border: solid 1px black;
}

.portafolio .fila .grid-item img{
    width: 40px;
    height: 40px; 
}












